<!-- <div class="flex justify-center items-center h-full">
  <form
    class="flex flex-col items-center border-solid border-bzd-orange border-2 rounded-2xl p-3 w-96 h-fit"
    [formGroup]="formgroup"
    (ngSubmit)="onFormSubmit()"
  >
    <h1 class="text-gray-200 text-2xl font-bold">Entrar na sua conta</h1>

    <div class="w-full flex flex-col">
      <label class="buzzard-form-label" for="email">Email</label>
      <input
        placeholder="Digite seu e-mail"
        class="buzzard-form-input"
        type="email"
        name="email"
        formControlName="email"
      />
    </div>

    <div class="w-full flex flex-col">
      <label class="buzzard-form-label" for="senha">Senha</label>
      <input
        placeholder="Digite sua senha"
        class="buzzard-form-input"
        type="password"
        name="senha"
        formControlName="password"
      />
    </div>

    <button type="submit" class="buzzard-btn">Acessar conta</button>

    <div class="h-0.5 bg-bzd-orange w-full"></div>

    <a [routerLink]="['/auth', 'register']" class="buzzard-link">Criar conta</a>
  </form>
</div> -->


<div class="flex h-full">
  <div class="w-1/2 h-full flex justify-center items-center">
    <div
      class="border border-bzd-orange rounded-lg p-8 w-1/2 shadow-md bg-white"
    >
      <div class="flex justify-center mb-4">
        <img
          src="/images/buzzard_logo.png"
          alt="Buzzard Logo"
          class="h-32"
        />
      </div>
      <h1 class="text-2xl font-bold text-center mb-4">
        Bem-vindo ao Buzzard PIX
      </h1>

      <form
        [formGroup]="formgroup"
        (ngSubmit)="onFormSubmit()"
        class="space-y-4"
      >
        <div>
          <label for="email" class="block text-bzd-orange font-semibold mb-1">
            E-mail
          </label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="caetano.gornes@gmail.com"
            class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-bzd-orange"
          />
          <p *ngIf="emailValid" class="text-red-500">Email inválido</p>
        </div>

        <div>
          <label for="password" class="block text-bzd-orange font-semibold mb-1">
            Senha
          </label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Digite sua senha"
            class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-bzd-orange"
          />
          <div *ngIf="passwordValid" class="text-red-500">
            <p>Senha incorreta</p>
          </div>
        </div>

        <div class="flex justify-between">
          <a
            href="#"
            class="text-bzd-orange hover:text-bzd-orange-dark text-sm underline"
          >
            Esqueci minha senha
          </a>
        </div>

        <button
          type="submit"
          class="w-full bg-bzd-orange hover:bg-bzd-orange-dark text-white font-bold py-2 rounded-lg"
        >
          Acessar
        </button>

        <button
          type="button"
          [routerLink]="['/auth', 'register']"
          class="w-full border border-bzd-orange hover:border-bzd-orange-dark text-bzd-orange hover:text-bzd-orange-dark font-bold py-2 rounded-lg"
        >
          Cadastrar conta
        </button>
      </form>
    </div>
  </div>

  <!-- Imagem Lateral -->
  <div class="w-1/2 h-full">
    <img
      src="/images/bzd-cadastro.png"
      alt="Buzzard login"
      class="h-full w-full object-cover"
    />
  </div>
</div>
