<div class="flex justify-center items-center h-full">
  <form
    [formGroup]="formgroup"
    (ngSubmit)="onFormSubmit()"
    class="flex flex-col items-center border-solid border-bzd-orange border-2 rounded-2xl p-3 w-96 h-fit"
  >
    <h1 class="text-gray-200 text-2xl font-bold">Bem-vindo ao Pix Buzzard</h1>

    <div class="w-full flex flex-col">
      <label class="buzzard-form-label" for="email">Email</label>
      <input
        placeholder="Digite seu e-mail"
        class="buzzard-form-input"
        type="email"
        name="email"
        formControlName="email"
      />
      @if (emailValid) {
      <p class="text-red-500">Email inválido</p>
      }
    </div>

    <div class="w-full flex flex-col">
      <label class="buzzard-form-label" for="password"> Senha </label>
      <input
        class="buzzard-form-input"
        placeholder="Digite sua senha"
        type="password"
        name="password"
        formControlName="password"
      />
      @if (passwordValid) {
      <div class="text-red-500">
        A senha deve conter:
        <p>Entre 6 a 20 caracteres</p>
        <p>1 Letra maiúscula</p>
        <p>1 Letra minúscula</p>
        <p>1 Número</p>
        <p>1 Caractere especial {{ "+-_!@#$%^&*.,?" }}</p>
      </div>
      }
    </div>

    <div class="w-full flex flex-col">
      <label class="buzzard-form-label" for="confirmPassword">
        Repita a senha
      </label>
      <input
        class="buzzard-form-input"
        placeholder="Repita sua senha"
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      @if (confirmPasswordValid) {
      <p class="text-red-500">Os emails devem ser iguais</p>
      }
    </div>

    <button type="submit" class="buzzard-btn">Criar conta</button>

    <div class="h-0.5 bg-bzd-orange w-full"></div>

    <a [routerLink]="['/auth', 'login']" class="buzzard-link">
      Entrar em sua conta
    </a>
  </form>
</div>
