<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-b from-orange-500 to-orange-300">
  <div class="w-full max-w-md bg-white rounded-xl shadow-lg overflow-hidden">
    <div class="bg-orange-400 text-white text-center p-6">
      <h1 class="text-xl font-bold">Editar Perfil</h1>
      <div class="flex justify-center mt-4">
        <img
          class="w-32 h-32 rounded-full border-4 border-white shadow-lg"
          src="https://source.unsplash.com/128x128/?bird,hat"
          alt="Profile"
        />
      </div>
    </div>

    <div>
      <label class="bzd-form-label" for="document">Documento</label>
      <input
        placeholder="Apenas números"
        class="bzd-form-input"
        type="text"
        name="document"
        formControlName="document"
      />
      @if (documentValid) {
      <p class="text-red-500">Deve conter pelo menos 9 caracteres</p>
      <p class="text-red-500">Somente números</p>
      }
    </div>

    <button type="submit" class="bzd-btn-primary">Atualizar perfil</button>
  </form>
</div>
