<footer class="flex flex-wrap w-full overflow-hidden justify-between px-24 py-4 bg-bzd-gray">

  <picture>
    <img
      class="w-32 h-32 max-w-full"
      src="/images/buzzard_logo.png"
      alt="Logo"
    />
  </picture>

  <div>
    <h1 class="text-2xl pb-4">Informações</h1>
    <ul class="grid gap-1">
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/landing']">
          Buzzard Pix
        </a>
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/about', 'investments']">
          Sobre investimentos
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h1 class="text-2xl pb-4">Painel</h1>
    <ul class="grid gap-1">
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/']"
          >Inicio</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/profile']"
          >Perfil</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/investments']"
          >Investimentos</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/products']"
          >Produtos</a
        >
      </li>
    </ul>
  </div>

  <div>
    <h1 class="text-2xl pb-4">Saldo</h1>
    <ul class="grid gap-1">
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/balance', 'transfers']"
          >Transferências</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/balance', 'transfer']"
          >Transferir</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/balance', 'deposit']"
          >Depositar</a
        >
      </li>
    </ul>
  </div>

  <div>
    <h1 class="text-2xl pb-4">Autenticação</h1>
    <ul class="grid gap-1">
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/auth', 'login']"
          >Login</a
        >
      </li>
      <li>
        <a class="text-lg buzzard-link-footer" [routerLink]="['/auth', 'register']"
          >Criar conta</a
        >
      </li>
    </ul>
  </div>

  <div class="flex flex-col justify-center items-center gap-8 h-full">
    <div>
      <h1 class="text-2xl pb-4">Entre em contato</h1>
      <ul class="flex gap-4">
        <li>
          <a href="https://www.facebook.com/"
            ><img
              class="hover-icon-grow"
              src="/images/facebookIconFooter.svg"
              alt=""
          /></a>
        </li>
        <li>
          <a href="https://github.com/"
            ><img
              class="hover-icon-grow"
              src="/images/githubIconFooter.svg"
              alt=""
          /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/"
            ><img
              class="hover-icon-grow"
              src="/images/linkedinIconFooter.svg"
              alt=""
          /></a>
        </li>
      </ul>
    </div>

    <div>
      <h1 class="text-2xl">Fale com o suporte</h1>
      <a class="text-lg font-bold buzzard-link-footer" href="./">(61) 3213 – 1313</a>
    </div>
  </div>

  <div class="mt-2 w-full">
    <p class="text-base">BuzzardPIX © Alguns direitos reservados. 2024</p>
  </div>


</footer>
