<div class="h-20 pt-2 pb-1 px-6 flex justify-between align-bottom">
  <a class="" [routerLink]="['/']">
    <img class="max-h-full" src="/images/buzzard_logo.png" alt="Logo" />
  </a>

  <div class="flex flex-col justify-end">
    <div class="flex align-middle">
      <div class="h-5">
        <img
          class="rounded-full size-10"
          src="/images/buzzard_placeholder.png"
          alt="Foto de perfil"
        />
      </div>
      @if (user != null) {
      <div class="flex flex-col justify-center text-cor-0">
        <p>
          Olá <strong>{{ user.email }}</strong>
        </p>
        <a [routerLink]="['/profile']">
          {{ !!user.accountId ? "Editar" : "Finalizar" }} perfil
        </a>
      </div>
      }@else {
      <div class="flex flex-col justify-center align-middle text-cor-0">
        <a [routerLink]="['/auth', 'login']">Entrar</a>
        <p>ou</p>
        <a [routerLink]="['/auth', 'register']">Criar conta</a>
      </div>
      }
    </div>
    @if (user != null) {
    <button (click)="onLogout()" class="bg-slate-500 text-white">Logout</button>
    }
  </div>
</div>

<hr />
