@if(investment == null){
<div class="flex flex-col justify-center align-middle text-cor-0">
  <p>Carregando</p>
</div>
}@else {
<div class="flex justify-between gap-3">
  <div class="w-1/2">
    <h1 class="text-2xl font-bold">
      {{ investment.product.name }}
    </h1>

    <div class="h-0.5 bg-bzd-orange w-full mb-2"></div>

    <div class="mb-2">
      <p class="text-lg font-semibold">Descrição</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit
        facilis enim ipsam eius eaque possimus accusamus, eum laboriosam quaerat
        amet accusantium ex doloremque. In rem repudiandae quisquam aspernatur
        nesciunt.
      </p>
    </div>
  </div>

  <div
    class="w-1/2 flex flex-col border-solid border-bzd-orange border-2 rounded-2xl p-3 gap-3"
  >
    <div class="flex justify-between">
      <div>
        <p class="">Resgate</p>
        <p class="text-2xl font-black text-bzd-orange">1 dia útil</p>
      </div>

      <div>
        <p class="">Rendimento</p>
        <p>
          <strong class="text-2xl font-black text-bzd-orange">
            {{ investment.product.dailyYield * 100 }}%
          </strong>
          / dia
        </p>
      </div>

      <div>
        <p class="">Compra</p>
        <p class="text-2xl font-black text-bzd-orange">
          {{ investment.buyTime | date : "dd/MM/yy - HH:mm" }}
        </p>
      </div>

      <div>
        <p class="">Venda</p>
        <p class="text-2xl font-black text-bzd-orange">
          @if(investment.isSold){
          {{ investment.sellTime | date : "dd/MM/yy - HH:mm" }}
          }@else{ ---------------- }
        </p>
      </div>
    </div>

    <div class="flex justify-between items-end">
      <div>
        <p class="">Investido</p>
        <p class="text-2xl font-black text-bzd-orange">
          R$ {{ investment.buyPrice | number : "1.2-2" }}
        </p>
      </div>

      <div>
        <p class="text-lg font-semibold">
          {{ investment.isSold ? "Valor de venda" : "Estimativa de resgate" }}
        </p>
        <p class="text-4xl font-black text-bzd-orange">
          R$ {{ investment.sellPrice | number : "1.2-2" }}
        </p>
      </div>

      <div class="">
        @if(!investment.isSold){
        <button type="button" class="bzd-btn-primary" (click)="sell()">
          Resgatar
        </button>
        }@else{
        <p class="text-4xl font-black text-bzd-orange">Vendido</p>
        }
      </div>
    </div>
  </div>
</div>
}
