<section
   class="mt-24 bg-bzd-orange-light flex justify-between items-center px-80">  <!-- Criei essa mt para quando criar o header fixo não cobrir a page -->
  <div class="w-2/5 grid gap-8">
    <h1 class="text-5xl font-bold text-bzd-orange-dark">
      Invista no <span class="text-white">Urubu do Pix</span> e faça seu
      dinheiro voar alto em direção ao <span class="text-white">lucro!</span>
    </h1>

    <button
      class="w-52 bg-bzd-orange hover:bg-bzd-orange-dark border hover:border-gray-200 hover:text-gray-200 text-white font-bold py-2 rounded-lg">
      QUERO SER RICO
    </button>

    <p class="text-white text-lg">
      Quer transformar seu dinheiro em oportunidades de sucesso? Então venha
      investir no Urubu do Pix! Aqui, cada centavo é uma chance de multiplicar
      seus ganhos de forma rápida e segura. Não perca tempo, invista hoje e veja
      o Urubu voar com os seus lucros!
    </p>
  </div>

  <picture>
    <img src="/images/bg-tela-principal.png" alt=""/>
  </picture>
</section>
