<section class="bg-bzd-orange-light flex justify-between items-center px-80">
  <div class="w-2/5 grid gap-8">
    <h1 class="text-5xl font-bold text-bzd-orange-dark">
      Invista no <span class="text-white">Urubu do Pix</span> e faça seu
      dinheiro voar alto em direção ao <span class="text-white">lucro!</span>
    </h1>

    <a
      class="bzd-btn-primary w-52 border hover:border-gray-200 hover:text-gray-200"
      [routerLink]="['/auth', 'register']"
    >
      QUERO SER RICO!
    </a>

    <p class="text-white text-lg">
      Quer transformar seu dinheiro em oportunidades de sucesso? Então venha
      investir no Urubu do Pix! Aqui, cada centavo é uma chance de multiplicar
      seus ganhos de forma rápida e segura. Não perca tempo, invista hoje e veja
      o Urubu voar com os seus lucros!
    </p>
  </div>

  <picture>
    <img src="/images/bzd-landing-cover.png" alt="" />
  </picture>
</section>
