<div class="relative overflow-x-auto shadow-md rounded-lg pt-5">
  <table class="w-full text-sm text-left rtl:text-right text-bzd-white">
    <thead class="text-xs text-bzd-white uppercase bg-bzd-orange">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Data e Hora</th>
        <th scope="col" class="px-6 py-3">Valor</th>
        <th scope="col" class="px-6 py-3">Tipo</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (transaction of transactionPageable.content; track $index) {
      <tr class="bg-bzd-orange-light border-b hover:bg-gray-500">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ transaction.id }}
        </th>
        <td class="px-6 py-4">
          {{ transaction.timestamp | date : "dd/MM/yy - HH:mm" }}
        </td>
        <td class="px-6 py-4">R$ {{ transaction.value | number : "1.2-2" }}</td>
        <td class="px-6 py-4">
          {{ transaction.type }}
        </td>
        <td class="px-6 py-4 text-right">
          <a href="#" class="bzd-link">Detalhes</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
