@if(product == null){
<div class="flex flex-col justify-center align-middle text-cor-0">
  <p>Carregando</p>
</div>
} @else{
<section class="bg-bzd-orange flex justify-between pt-8">
  <div class="w-1/2 text-white pl-40">
    <h1 class="text-5xl py-3">
      O que é
      <span class="text-nowrap font-semibold">{{ product.name }}</span>
    </h1>
    <p class="text-xl py-2">
      É um investimento de alto rendimento diário de
      <span class="text-black font-semibold">
        {{ product.dailyYield * 100 }}%
      </span>
      , aproveitando o sistema Pix para realizar transações ágeis e seguras.
      <span class="text-black font-semibold">
        Com valor mínimo de investimento de R$ 100
      </span>
      , essa modalidade permite que qualquer pessoa participe e tenha a chance
      de multiplicar seus ganhos rapidamente. Além disso, oferece a vantagem de
      resgate em apenas
      <span class="text-black font-semibold">um dia útil</span>, proporcionando
      flexibilidade financeira. Com foco em simplicidade e transparência, é uma
      alternativa atraente para quem busca retorno financeiro elevado de forma
      descomplicada e acessível
    </p>
  </div>
  <div class="">
    <img src="/images/bzd-product-cover.png" class="w-3/4 h-full" />
  </div>
</section>

<section class="flex flex-col items-center text-white pb-5">
  <h1 class="text-5xl font-bold text-black py-6">Vamos começar a investir!</h1>
  <h1 class="text-3xl font-bold text-black py-2">
    Quanto você deseja investir?
  </h1>
  <form class="" [formGroup]="formgroup" (ngSubmit)="onFormSubmit()">
    <div class="w-full grid items-center text-black pt-5">
      <div class="flex items-center gap-2">
        <label for="" class="text-2xl font-bold">R$</label>
        <input
          class="bzd-form-input text-2xl text-bzd-orange font-bold"
          type="number"
          name="amount"
          formControlName="amount"
        />
      </div>
      @if(amountInvalid){
      <p class="text-red-600 flex">
        Digite um número válido, com até duas casas decimais e o valor deve ser
        maior que 0,10.
      </p>
      }
    </div>

    <div class="flex justify-center pt-10">
      <button
        type="submit"
        class="bzd-btn-primary"
        [disabled]="insufficientBalance || amountInvalid"
      >
        Confirmar
      </button>
    </div>
  </form>
</section>
}
