/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #FF6200;
  --cor-p2: #FA7410;
}

.bg-topLaranja {
  background-image: linear-gradient(to bottom, var(--cor-p1) 35%, var(--cor-12) 35%);
  height: 94.8vh;
}

@layer components {
  .buzzard-link {
    @apply text-orange-500 hover:text-orange-700 underline;
  }

  .buzzard-btn {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary hover:bg-orange-700 disabled:bg-gray-400 disabled:cursor-not-allowed;
  }

  .buzzard-form-label{
    @apply text-gray-200;
  }

  .buzzard-form-input{
    @apply bg-transparent text-orange-400 border-2 border-primary rounded-lg h-12 p-2;
  }
}